.product{
    width: 70%;
}
.productImg{
    width: 80%;
    margin:5px auto;
}
#pages{
    text-align: center;
}
.btPage{
    height: 30px;
    width: 30px;
    margin: 5px;
}
#pages{
    margin: 20px;
}


