body{
    background: #E9AFA3;
}

#contentLength {
    color: green;
    font-family: 'Noto Sans TC', sans-serif;
}

h4{
	font-family: 'Noto Sans TC', sans-serif;
}

#letterContent{
    display: flex;
    box-sizing: border-box;
    height: 200px;
}



#cardBody{
    border-radius: 20px 20px 20px 20px;
}

#angelIcon{
    
}