body{           /* 整個背景*/
    background: #FEFBF1;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}


.top_area{      /* logo 登入那塊 */
    width: 80%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
}

.logo{    /* 論壇logo */
    width: 10%;
    margin: auto 40px ;
}

.top-space{
    width: 70%;
    
}

.login{
    width:10%;
    margin-top: 10px;
}


ul{       /*取消ul預設的樣式 */
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.main_menu{  /* 主要選單的背景顏色 */
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: #FEE18F; */
    background-color: #99F7AB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.main_menu_li{     /* 三個主要標題*/
    width: 25%;
    margin: 1%;
    z-index: 1;
}


ul.main_menu a{      /* 上層及子選單的字體樣式 */
    color: black;
    padding: 0 30px;
    line-height: 40px;
}

 ul.main_menu:hover{                 /* 碰到主要選單的區塊會變色*/
    background-color: #99F7AB;
}




ul.main_menu ul{     /*  下拉式選單在滑鼠經過前都不會顯示*/
    width: 100%;
    background-color: #FEFBF1;
    display: none;
}


ul.main_menu li:hover >ul {   /* 碰到上層選單時，所有子選單會顯示出來 */
    width: 100%;
    display: block;
    border-bottom: 1px dotted;
    border-right: 1px solid transparent;
    
}



/* 左邊及中間的主要內容*/
.center-content{
    margin: 5% 10% 1% 10%;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.side_menu{
    width: 100px;
    display: flex;
    flex-direction: column;
    background-color: #99F7AB;
    z-index: 2;
    
}

.side_menu div{
    text-align: center;
    margin-top: 20px;
    font: 24px bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* 登入BOX */
.login-box{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    height: 50%;
    margin: 10% auto 0 auto;
    box-shadow: 1px 1px 5px gray;
}

.login-box h2{
    color: darkblue;
    font-weight: bolder;
}

.login-box input[type = "text"], .login-box input[type="password"]{
    border: 0;
    background: white;
    border-radius: 3px;
    display: block;
    margin: 8% 10px;
    border: 1px solid black;
    padding: 8px 8px;
    width: 200px;
    outline: none;
    
}
.login-box input:focus{
    border: 1px solid forestgreen;
}

.rmButton{
    display: flex;
    font-size: 14px;
    margin: -5px 10px;
}

.left-area{
    width: 100px;
    border: 1px solid black;
}

/* 登入BOX 結束*/
/* 中間及主要內容結束*/



.bottom{ 
    width: 80%;
    height: 50px;
    background-color: #99F7AB;
    margin: 0 auto;
}


